html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 0 1rem 1rem 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 1.3rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 1rem 0;
  font-size: 1.3rem;
}

.blog-title {
  font-size: 24px;
}

.nav-links a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.nav-links a:last-child {
  margin-right: 0;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

ul{
  padding-left:0;
}

li{
  list-style:none;
  padding: 15px 0;
}

a,a:visited{
  color: #0071d1;
}

main {
  max-width: 60ch;
}

.title{
  font-size: 2rem;
  font-weight: bold;
}

.publishedAt{
  padding-bottom: 20px;
}

.blogLink{
  font-size: 1.5rem;
}

.listPublishedAt{
  margin:0;
}