---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "りざくらのざれごと";

//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title", "publishedAt"] });
---
<BaseLayout pageTitle={pageTitle}>
  <main>
    <ul>
      {
        response.contents.map((content: any) => (
          <li>
            <p class="listPublishedAt">{new Date(content.publishedAt).toISOString().split('T')[0]}</p>
            <a class= "blogLink" href={content.id}>{content.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
