---
import Navigation from "./Navigation.astro";
---

<header>
  <div class="nav-bar">
    <h1 class="blog-title">りざくらのざれごと</h1>
    <div class="nav-links">
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </div>
</div>
</header>
